<div class="container">
  <form class="form-signin">
    <h1 class="form-signin-heading"><%= t("apps.#{params[:app]}.title") %></h1>
    <br />
    <h3><%= t('ui.lti1') %></h3>
    <p><%= t('ui.copypaste') %></p>
    <p><input type="text" onClick="this.select()" class="form-control" value="<%= xml_config_url(tenant: params['tenant'], app: params['app']) %>" /></p>
    <% if Rails.configuration.lti_developer_mode_enabled %>
      <h4><%= link_to t('ui.lti1config'), xml_builder_url(tenant: params['tenant'], app: params['app']) %></h4>
    <% end %>
    <br />
    <h3><%= t('ui.lti2') %></h3>
    <p><%= t('ui.copypaste') %></p>
    <p><input type="text" onClick="this.select()" class="form-control" value="<%= tool_registration_url(tenant: params['tenant'], app: params['app']) %>" /></p>
  </form>
</div>
